# Heading1
## Heading2
### Heading3
#### Heading4
##### Heading5
###### Heading6

**Bold Text**

*text in italic*

***Text in Bold with italic style***

**Unorder List**

***Techologies***
  - Frontend Technolgies
      - HTML
          - HyperText Markup Language
      - CSS
      - JavaScript
  - Backend Technologies 
      - PHP
      - Java
      - Python
     
 ***Order List***
 
 1. DataBases
     1. Oracle
         1. Global Certification
     2. MySQL
     
 2. Certifications
 3. Courses
 
 
 **Links**
 
 [Python Course](https://www.udemy.com/course/python-the-complete-python-developer-course/?gclid=Cj0KCQjwlMaGBhD3ARIsAPvWd6jT8VzZiljGZiSM7iZYtPG2YSu8gyzGho512dawLjm-ipFaDniDcTMaAk77EALw_wcB&matchtype=e&utm_campaign=Python_v.PROF_la.EN_cc.INDIA_ti.7380&utm_content=deal4584&utm_medium=udemyads&utm_source=adwords&utm_term=_._ag_78980845666_._ad_463012611564_._kw_python+course_._de_c_._dm__._pl__._ti_kwd-300430981808_._li_1007740_._pd__._)
 
 **Include images**
 
 ![Logo]()
 
 
 ***Include code in Document***
 
 ```
 def sample(a):
     return a
 sample(23)
 ```
 HTML is `Frontend Technology`
 
 `
 <ul>
    <li>List1</li>
    <li>List2</li>
 </ul>
 `
 **Table**
 
 | EmployeeName | Age | Salary|
 |--------------|-----|-------|
 |Hima          | 19  | 25000 |
 |AllaBhakshu   | 18  | 25000|
 |Siva          | 19  | 27000|
 
 
 - esc + m --> from  code to markdown
 - esc +y  --> from markdown to code

In [11]:
# Python Basics

### comments

# print("Welcome to python Programming")

"""
def sample(x):
    return x
sample(34)
"""

Welcome to python Programming

'\ndef sample(x):\n    return x\nsample(34)\n'

## Variables

- Variable is used to store value in the memory
- Variable name should start with letters or _ , but not numbers

- Single variable assignment
age=24
print(age)
- Multi variable assignment
a,b,c = 12,3,"Kalyan"
# a=b=c=23
print(a)
print(b)
print(c)

In [14]:
a,b,c = 12,3,"Kalyan"
print(a)
print(b)
print(c)

12
3
Kalyan

In [15]:
# Keywords in python

import keyword
print(keyword.kwlist)

# Cannot include keywords as variable names and function names

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [16]:
print(len(keyword.kwlist))

35

In [17]:
a=3
a

3

In [25]:
# casting
# + Data types
#     + int
#     + float
#     + str
    
a=int(3.2)
b=float('3') 
c=str(3)
print(a)
print(b)
print(c)

type(a)
type(b)
type(c)

3
3.0
3

str

# Operators
+ Arithmetic Operators
  + `+`
  + `-`
  + `*`
  + `/`
  + `%`
  + `//`

+ Assignment Operators
+ Logical Operators 
+ Bitwise Operators
+ Identity Operators (--)
+ Relational Operators
+ Membership Operators(--)

In [26]:
a=3
b=4
print(a+b)

7