In [ ]:
# Data Structures
1.list
2.tuple
3.dictionary
4.set

In [ ]:
Data Structure:- A data structure can be defined as
    the group of data elements which provides an efficient way of 
    storing and organizing data..

In [ ]:
# list
list:  Lists are used to store multiple items in a single
        variable

In [1]:
# empty list
li=[]
print(li)

[]

In [2]:
li1=[23,11,8,"python",45.23]
print(li1)

[23, 11, 8, 'python', 45.23]

In [8]:
# min(),max(),sum(),sorted(),len()
l=[12,56,22,89,126]
print(type(l))
print(min(l))
print(max(l))
print(sum(l))
print(sorted(l))
print(len(l))

<class 'list'>
12
126
305
[12, 22, 56, 89, 126]
5

In [10]:
# slicing
li1=[23,11,8,"python",45.23]
print(li1[1:4])

[11, 8, 'python']

In [13]:
li1[0:3]

[23, 11, 8]

In [14]:
# 45.23,"python",8,11,23
li1[::-1]

[45.23, 'python', 8, 11, 23]

In [15]:
l=[12,56,22,89,126]
l[-1]

126

In [16]:
l=[12,56,22,89,126]
l[2]=32   # lists are mutable
print(l)

[12, 56, 32, 89, 126]

In [17]:
k=[23,45,[5,2,4,6],67]
print(k)

[23, 45, [5, 2, 4, 6], 67]

In [18]:
k[2]

[5, 2, 4, 6]

In [20]:
k[2][3]

6

In [22]:
print(dir(list),end=' ')

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [23]:
# append
li=[3,45,11,6,89,344,99]
li.append(78)
print(li)

[3, 45, 11, 6, 89, 344, 99, 78]

In [44]:
li.append([78,45,72,88])
print(li)

[344, 99, 89, 45, 23, 23, 11, 6, 6, 3, [78, 45, 72, 88]]

In [26]:
li=[3,45,11,6,89,344,99,23,23,6]
print(li.count(23))
print(li.index(89))
print(li.index(23))

2
4
7

In [30]:
#insert
li=[3,45,11,6,89,344,99,23,23,6]
li.insert(3,66)
print(li)

[3, 45, 11, 66, 6, 89, 344, 99, 23, 23, 6]

In [31]:
li=[3,45,11,6,89,344,99,23,23,6]
li.sort()
print(li)

[3, 6, 6, 11, 23, 23, 45, 89, 99, 344]

In [32]:
li.reverse()
print(li)

[344, 99, 89, 45, 23, 23, 11, 6, 6, 3]

In [33]:
li2=[3, 6, 11, 23, 23, 45, 89, 99, 344]
li2.pop()
print(li2)

[3, 6, 11, 23, 23, 45, 89, 99]

In [34]:
li2.pop()
print(li2)

[3, 6, 11, 23, 23, 45, 89]

In [35]:
#remove
li2.remove(11)
li2

[3, 6, 23, 23, 45, 89]

In [36]:
#extend
li1=[34,22,56]
li2=[52,11,78,90]
li1.extend(li2)
print(li1)
print(li2)

[34, 22, 56, 52, 11, 78, 90]
[52, 11, 78, 90]

In [41]:
l1=[52, 11, 78, 90]
l2=l1.copy()
print(l1,l2)
l1.pop()
print(l1,l2)

[52, 11, 78, 90] [52, 11, 78, 90]
[52, 11, 78] [52, 11, 78, 90]

In [40]:
# assignment
l1=[52, 11, 78, 90]
l2=l1
print(l1,l2)
l1.pop()
print(l1,l2)

[52, 11, 78, 90] [52, 11, 78, 90]
[52, 11, 78] [52, 11, 78]

In [43]:
l1=[52, 11, 78, 90]
l1.clear()
print(l1)

[]

In [46]:
l1=[52, 11, 78, 90]
for i in l1:
    print(i,end=' ')

52 11 78 90

In [48]:
l1=[52, 11, 78, 90]
for i in l1:
    print(i*i,end=' ')

2704 121 6084 8100

In [49]:
k1=[2,3,4,5,23,77,99,12]
for i in k1:   # 2 3
    if(i%2==0): #12%2==0(T)
        print(i,end=' ')  # 2 4 12

2 4 12

In [ ]:
I/P: k1=[2,3,4,5,23,77,99,12,15,20,10]
O/P:    15

In [52]:
k1=[2,3,4,5,23,77,99,12,15,20,10]
for i in k1:   
    if(i%3==0 and i%5==0): 
        print(i,end=' ')

15

In [56]:
# p=[12,34,12,67,8,9,12,34,67]
# [12,34,67]
p=[12,34,12,67,8,9,12,34,67,8,9,8,9]
li=[]
for i in p:
    if i not in li:   
        li.append(i)
print(li)

[12, 34, 67, 8, 9]

In [55]:
# p=[12,34,12,67,8,9,12,34,67]
#    [8,9]
p=[12,34,12,67,8,9,12,34,67]    
li=[]
for i in p:   # 12
    if p.count(i)==1: 1==1(T)
        li.append(i)
print(li)

[8, 9]

In [ ]:
tuple(): Tuple is a collection of python objects
    in tuple we can't change the values
--> Tuple is immutable..

In [57]:
t=()
print(t)

()

In [58]:
t=(34,56,"work",4.6)
print(t)

(34, 56, 'work', 4.6)

In [61]:
t1=(34,67,12,89,22)
print(type(t1))
print(min(t1))
print(max(t1))
print(sum(t1))
print(sorted(t1))
print(len(t1))

<class 'tuple'>
12
89
224
[12, 22, 34, 67, 89]
5

In [62]:
t[3]=22

TypeError: 'tuple' object does not support item assignment

In [63]:
print(dir(tuple),end=' ')

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']